/*Common Color Variables, the theme if you will.*/
:root {
  --col_heading: rgb(244,135,74);
  --col_text: rgb(168,192,221);
  --col_outline: rgb(18,57,196);
  --col_bg: rgb(29,33,42);
  --col_bg_heading: rgb(29,33,42);
}

/*Bootstrap Panel Override*/
.panel {
  background-color: rgba(255,255,255, 0.06);
  border-color: var(--col_outline);
}

/*Bootstrap panel heading override*/
.panel > .panel-heading {
  background-color: var(--col_bg_heading);
  border-style: none;
  color: var(--col_heading);
}

/*global cont fallback and background*/
body {
  background-color: var(--col_bg);
  color: var(--col_text);
}

/*used on contact page for showing website brand icons*/
img.brandimg {
  float:left;
  width: 16px;
  height: 16px;
}

/*a bolder and center aligned hyperlink*/
a.contact {
  text-align: center;
  font-weight: bold;
}

/*makes all header text orange*/
h1, h2, h3, h4 {
  color: var(--col_heading);
}

/*a textbox div to insert into booststrap panels to give them some padding*/
.textbox {
  padding: 10px;
  margin: 5px;
  border-style: solid;
  border-color: var(--col_outline);
  border-width: thin;
}

/*a blog image that ban be placed in text boxes and float properly*/
 img.blog {
  float:right;
  width: 15%;
  height: auto;
  margin: 20px;
}

/*change color theme and make images smaller for printers*/
@media print {
  :root {
    --col_heading: rgb(30,30,30);
    --col_text: rgb(0,0,0);
    --col_outline: rgb(100,100,100);
    --col_bg: rgb(255,255,255);
    --col_bg_heading: rgb(255,255,255);
  }
  img.blog {
    width: 5%;
    height: auto;
  }
}
