.panel {
  background-color: rgba(255,255,255, 0.8);
}


body {
  background-color: rgb(236,236,236);
}

img.brandimg {
  float:left;
  width: 16px;
  height: 16px;
}

a.contact {
  text-align: center;
  font-weight: bold;
}
